.header {
    background-color: #2C323C;
    padding: 21px 780px; 
    text-align: center;
    border: 1px dashed rgb(3, 245, 23);
}

.title {
    color: rgb(3, 245, 23);
    font-family: 'Monoton', cursive;
    font-size: 63px; 
    animation:blinkingText 3.7s infinite;
    padding: 6px 0px; 
    word-spacing: 5px;  
    margin-right: 20px;
    margin-left: 20px; 
}
 
@keyframes blinkingText{
	0%{		color: rgb(3, 245, 23)	}
	49%{	color: transparent;	}
	50%{	color: rgb(3, 245, 23)	}
	99%{	color: transparent;	}
	100%{	color: rgb(3, 245, 23)	}
}

.scoring {
    color: fuchsia;
    padding: 10px 7px;
    font-family: 'Monoton', cursive;
    font-size: 19px;
    background-color: #2C323C;
    border: 1px dashed rgb(3, 245, 23);
    word-spacing: 5px;
    margin-right: 60px;
    margin-left: 60px;
}

.high {
    color: rgb(236, 112, 10);
    padding: 10px 7px;
    font-family: 'Monoton', cursive;
    font-size: 19px;
    background-color: #2C323C;
    border: 1px dashed rgb(3, 245, 23);
    word-spacing: 5px;
    margin-right: 60px;
    margin-left: 60px;
}

.subtitle {
    padding: 27px;
    font-size: 15px; 
    font-family: 'Monoton', cursive;
    color: rgb(3, 245, 23);
    word-spacing: 7px;
}